@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed&display=swap');

/*GERAL*/
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #E5E5E5;
}
h1{
    font-family: 'Roboto', sans-serif;;
    margin-top: 80px;
}


/*MENU*/

/*Formatação geral da barra de navegação*/
nav{
    width:100%;
    background-color:#0074b9;
    position: fixed;
    top: 0;
    z-index: 100;
}

/*Lista*/
nav ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding:0;
    overflow: hidden;
}
nav ul li{
   
} 

/*Formatação dos links*/
nav a{
    text-align:start;
    text-decoration: none;
    padding: 14px 16px;
    font-family: 'Roboto', sans-serif;;
    color:white;
    font-size: 15px;
    display: block;
}

nav li a:hover{
    color:#B0BFD4;
 }

/*Logo*/
#imgLogo{
    width: 150px;
    height: 60px;
    margin-right: 450px;
}


/*SEÇÃO - SOBRE A GENERATION*/

#titulo{
    text-align: center;
    padding: 25px;
    font-size: 30px;
}
#texto{
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    padding-right: 15px;
}
#containerSobre{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
}
/*SEÇÃO - SOBRE O CURSO*/
#imgCurso{
    width: 250px;
    height: 250px;
}
#containerCurso{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
}
#textoCurso{
    padding-bottom: 50px;
}

/*SEÇÃO - CURRÍCULO DO CURSO*/
#containerCL{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
#containerCL div{
    border-style: groove;
    padding:50px;
    padding-right: 100px;
    padding-left: 100px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    background-color: white;
}

#containerCL ul{
    list-style: none;
    font-family: 'Roboto Condensed', sans-serif;
}
#tituloCL{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color:#d45f68;
    margin-bottom: 25px;
}
/*SEÇÃO - MERCADO DE TRABALHO*/
#containerTrab{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
}

#textoTrab{
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    padding-right: 15px;
}

#imgTrab{
    height: 350px;
    width: 500px;
}
/*SEÇÃO - INSCRIÇÃO*/
input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color:#D45F68;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    font-family: 'Roboto Condensed', sans-serif;
  }
  input[type=email]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color:#D45F68;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    font-family: 'Roboto Condensed', sans-serif;
  }
  input[type=date]{
    padding: 10px 16px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color:#D45F68;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    font-family: 'Roboto Condensed', sans-serif;
  }
  #estado{
    padding: 10px 16px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color:#D45F68;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    font-family: 'Roboto Condensed', sans-serif;
  }
#textoGen{
    padding: 10px 16px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color:#D45F68;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    font-family: 'Roboto Condensed', sans-serif;
  }
#inscricao div.linha1{
    display: flex;
    flex-direction: column;
    padding: 15px;
}
#inscricao div.linha2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px;
}
#inscricao{
    margin-right: 400px;
    margin-left: 400px;
    margin-bottom: 50px;
}
.linha1{
    font-family: 'Roboto Condensed', sans-serif;
    padding-right: 15px;
}
.linha2{
    font-family: 'Roboto Condensed', sans-serif;
    padding-right: 15px;
}

button{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: #63A138;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
    border-radius:5px;
}
#botao{
    display: flex;
    justify-content: center;
}